<div id="msg" hx-swap-oob="innerHTML">
  Utworzono projekt "{{ p.name }}".
</div>

<table>
  <tbody id="projects-body" hx-swap-oob="beforeend:#projects-table tbody">
    {% include "ui/_project_row.html" with p=p %}
  </tbody>  
</table>

 <!-- Aktualizacja wartosci w selektorach -->
<select id="project-select" hx-swap-oob="beforeend">
  <option value="{{ p.id }}">{{ p.name }}</option>
</select>
<select id="filter-project" hx-swap-oob="beforeend">
  <option value="{{ p.id }}">{{ p.name }}</option>
</select>
